<div class="jumbotron">
  <div class="text-center">
    <div class="page-header">
      <h2>
        <%= @game.title %>
      </h2>
      <%= render 'common/tag_line', tags: @game.tag_list %>
    </div>
  </div>
  <% if @game.picture.present? %>
    <%= image_tag @game.picture.url, class: 'center-block img-responsive img-rounded' %>
  <% end %>
  <p><%== @game.content %></p>
  <div class="btn-group" role="group">
    <%= link_to '编辑', edit_admin_game_path(@game), class: 'btn btn-default' %>
    <%= link_to '返回', admin_games_path, class: 'btn btn-primary' %>
  </div>
</div>
