<h1>用户注册</h1>
<div class="ui segment">
  <%= simple_form_for @user do |f| %>
    <%= f.error_notification %>
    <%= f.input :username, label: '用户名' %>
    <%= f.input :password, label: '密码' %>
    <%= f.input :password_confirmation, label: '密码确认' %>
    <%= f.button :submit, value: '注册' %>
  <% end %>
</div>
