<div class="ui stackable grid">
  <div class="twelve wide column">
    <div class="ui three cards">
      <% @games.each do |game| %>
        <div class="card">
          <%= link_to game_path(game), class: 'image' do %>
            <% if game.picture.present? %>
              <%= image_tag game.picture.thumb.url %>
            <% else %>
              <%= image_tag 'https://semantic-ui.com/images/wireframe/square-image.png' %>
            <% end %>
          <% end %>
          <div class="content">
            <%= link_to game.title, game_path(game), class: 'header' %>
          </div>
          <div class="extra content">
            <%= render 'common/tag_line', tags: game.tag_list %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="ui hidden divider"></div>
    <%= will_paginate @games, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated" %>
  </div>
  <div class="four wide column">
    <%= render 'common/tag_menu', tags: @tags %>
  </div>
</div>
